# Copy to `.env` for local development. Never commit real secrets.

# External OIDC provider client ids
ExternalAuth__Providers__Google__ClientId=80920292153-guqj88pjqokfl7i9lapbkavn9er60uhk.apps.googleusercontent.com
ExternalAuth__Providers__Microsoft__ClientId=your-microsoft-client-id
ExternalAuth__Providers__Microsoft__Tenant=common
ExternalAuth__Providers__Apple__ClientId=your-apple-client-id

# Internal API token settings
Jwt__Issuer=Template
Jwt__Audience=Template.Api
Jwt__SigningKey=HKYAI8xU55DDl6/oxMXBOkwBV4Ynr75Ez0rcSO0QVbQEcoW64XMfrFlEkckhB5No
