# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/
*.sln.iml

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# dotnet
artifacts/
TestResults/
*.nupkg
*.snupkg

# OS
.DS_Store
Thumbs.db
infra/.env

# Local secrets
.env
.env.local
